.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
}

.header{
  border-width: 2px;
  border-style:solid;
  grid-column: 1/7;
  grid-row: 1;
  background: pink;
  display: flex;
  justify-content: center;
}

.left-sidebar {
  border-width: 2px;
  border-style:solid;
  grid-column: 1;
  grid-row: 2/6;
  background: pink;
}

.main{
  border-width: 2px;
  border-style:solid;
  grid-column: 2/6;
  grid-row: 2/6;
  background: pink;
  display: flex;
  align-items: center;
  justify-content: center;

}

.right-sidebar {
  border-width: 2px;
  border-style:solid;
  grid-column: 6;
  grid-row: 2/6;
  background: pink;
}

.footer {
  border-width: 2px;
  border-style:solid;
  grid-column: 1/7;
  grid-row: 6;
  background: pink;
}

.box {
  height: 60px;
  width: 60px;
  background-color: greenyellow;
  transition: 0.5s;
}

.box:hover{
  height: 120px;
  width: 120px;
  background-color: brown;
  transition: 0.5s;
}